﻿@model MvcApplication1.Models.Account.AccountModel

@{
    ViewBag.Title = "LoginPage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    @using(Html.BeginForm("Login", "Account"))
    {
        @Html.EditorForModel()
        <input type="submit" value="Login"/>
    }
</div>

<h2>LoginPage</h2>
