﻿@using MvcApplication1.Models.User
@model IEnumerable<MvcApplication1.Models.Entity.ColumnModel>
@{
    Layout = HttpContext.Current.Session["CurrentUser"] != null 
        && ((UserModel) HttpContext.Current.Session["CurrentUser"]).IsAdmin
        ? "~/Views/Shared/_AdminLayout.cshtml"
        : "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "ColumnManager";
}

<h2>ColumnManager</h2>


@foreach (var column in Model)
{
    <div>
        @Html.Label(column.Name)
        <p>@Html.Label(column.DataType)</p>
    </div>
}

@using (Html.BeginForm("AddColumn", "Report", FormMethod.Post))
{
    <div>
        @Html.Label("Column Name")
        <input id="Name" name="Name" class="column-name" type="text"/>

        @Html.Label("Column Data Type")
        <input name="DataType" type="radio" name="data_type" value="double">Числа<br/>
        <input name="DataType" type="radio" name="data_type" value="bool">Правда/Ложь<br/>
        <input name="DataType" type="radio" name="data_type" value="bitmap">Картинка<br/>

        <button>Сохранить</button>
        @*<input type="submit" value="Сохранить"/>*@
    </div>
}

<script>
    $(document).ready(function() {
        debugger;
        $.ajax({
            url: "AddColumn",
            data: {name: "wgewg", typeId: 1, datatype:"bitmap"},
            type:"POST"
        });
    })
</script>