﻿@using System.Drawing
@model MvcApplication1.Models.Entity.EntityModel


@Html.BeginForm("UpdateEntities", "Report", FormMethod.Post, new { @item_id = Model.Id})
{ 
    @Html.LabelFor(m => m.Name)
    <input type="text" value="@Model.Name"/>

    @foreach (var attr in Model.Row)
    {
        if (attr.Key.DataType == typeof (bool).ToString())
        {
            @Html.Label(attr.Key.Name)
            <div data-column-id="@attr.Key.Id" data-column-name="@attr.Key.Name" data-column-type="@attr.Key.TypeId" data-column-datatype="@attr.Key.DataType">
                <input type="radio" name="@attr.Key.Name" value="true">Да<br/>
                <input type="radio" name="@attr.Key.Name" value="false"/>Нет<br/>
            </div>
        }
        if (attr.Key.DataType == typeof (Bitmap).ToString())
        {
            @Html.Label("Загрузить новую картинку")
            <input type="file" />
            <a item-id="@Model.Id" href="#"/>
        }
        else
        {
            @Html.Label(attr.Key.Name)
            <input type="text" value="@attr.Value"/>
        }
    }
