﻿
@using System.Drawing
@using MvcApplication1.Models.User
@model IList<MvcApplication1.Models.Entity.EntityModel>
@{
    ViewBag.Title = "List";
    Layout = HttpContext.Current.Session["CurrentUser"] != null 
        && ((UserModel) HttpContext.Current.Session["CurrentUser"]).IsAdmin
        ? "~/Views/Shared/_AdminLayout.cshtml"
        : "~/Views/Shared/_Layout.cshtml";
}

<h2>List</h2>
<div id="demo">
    <h1>Basic Example</h1>
    <table id="myDataTable" class="display">
        <thead>
            <tr>
                <th>Product Name</th>
                @foreach (var cell in Model.FirstOrDefault().Row)
                {
                    <th>@cell.Key.Name</th>
                }
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <th>@item.Name</th>
                @foreach (var cell in item.Row)
                {
                    if (cell.Key.DataType == typeof(Bitmap).ToString())
                    {
                        <td><img src="data:image/jpeg;base64,@cell.Value"/></td>
                    }
                    else
                    {
                        <td>@cell.Value</td>
                    }
                }
                <th>
                    <a class="edit-link" data-item-id="@item.Id" href="#">Edit</a>
                    <a class="delete-link" data-item-id="@item.Id" href="#">Delete</a>
                </th>
            </tr>
        }
        </tbody>
    </table>
    <div class="add_delete_toolbar"/>
</div>